:root{
/* الخلفيات والعناصر الأساسية */
    --primary:#111723;
/* الخلفيات الثانوية والمساحات الفارغة */
   --secondary:#f2f4ff;
/* الأزرار والعناصر التفاعلية */
   --btns:#fff;
/* النصوص والعناصر التوضيحية */
   --special:#f05d2b	;    
}
/* general elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--secondary);
}
.curser{
    cursor: pointer;
}
.nav{
    background: linear-gradient(to right, var(--btns), var(--primary)) ;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}
.container{
    height: 60px;
    color:var(--special);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@font-face {
    font-family: myfont;
    src: url(../fonts/Ubuntu-Bold.ttf);
}
.nav h1{
    font-family:myfont ;
}
.cart-title-box p{
    margin: 0 !important;
 }
.nav svg{
    height: 50px;
    width:  50px;
    margin-left: 20px;
}
.nav .log-btn{
    border: none;
    color: var(--special);
    background: transparent;
    font-size: 1.6rem;
}
.user{
    position: relative;
}
.user span#user-name-icon{
    background:var(--special);
    color: var(--secondary);
    font-weight: bolder;
    border-radius: 50%;
    padding: 10px;    
}
.cart-box{
    width: 100%;
    margin-top: 100px;
    background:var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    width: 100%;
    background: linear-gradient(to right, var(--btns),var(--special),var(--btns));
    position : fixed;
    top: 60px;
    display: flex;
    justify-content: center;
}
.cart-title-box{
    width: 80%;
    display: flex;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart-box-arr{
    width: 80%;
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cart-box .cart-box-arr .row{
    margin:4px;
    width: 23%;
    padding: 5px;
    background: var(--special);
    overflow: hidden;
}
.cart-box .cart-box-arr .row img:hover{
    transform: scale(1.5);

}
.cart-box .cart-box-arr .row span{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
.cart-box .cart-box-arr .row button{
    background: var(--primary);
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
}

.cart-box .cart-box-arr .row button:hover{
    background: #fff;
    color: var(--primary);
}

/* ...................INDEX ...................... */

@media screen and (max-width: 992px) and (min-width: 768px) {
    .cart-box .cart-box-arr .row{ width: 23%;}
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .cart-box .cart-box-arr .row{ width: 33%;}
}

@media screen and (max-width: 500px) {
        .cart-box .cart-box-arr .row{ width: 95%;}
        .nav h1 { font-size: 16px;}
        .nav .log-btn { 
                    font-size: 16px;
                    margin: 7px !important;
                 }
        .user span#user-name-icon{padding: 2px;margin: 0;}
        .cart-title-box{font-size: 10px;}
        .cart-title-box p{margin: 0 !important; }
}
